body {
    margin: 0;
}

#camera-popup {
    position: absolute;
    bottom: 15vh;
    right: 5vw;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2vh 2vw;
    border-radius: 10px;
    width: 30vw;
    max-width: 500px;
    height: 50vh;
    max-height: 400px;
    font-family:'Courier New', Courier, monospace;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#camera-popup.show {
    opacity: 1;
}